body {
    background: #F4AE20;
    font-family:Irish Grover, serif;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 600px;
}

/* Webpage */
#webpage {
    position: absolute;
    width: 100%;
    height: 649px;
    top: 230px;
    left: 0;
    z-index: 2;

    object-fit: cover;
    background: url(https://i.gifer.com/SqL8.gif);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* Welcome! */
#welcome_font {
    position: absolute;
    width: 649px;
    height: 111px;
    left: 32%;
    z-index: 2;

    font-family: 'Inconsolata', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 157px;
    text-align: center;
    color: #F4AE20;
    text-shadow: 0 0 6px #000000;
}


#welcome_blurb {
    position: absolute;
    width: 649px;
    height: 111px;
    left: 32%;
    top: 345px;
    z-index: 2;

    font-family: 'Inconsolata', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #F4AE20;
    text-shadow: 0 0 2px #000000;
}
/* Tabs */

tabs{
    position: absolute;
    width: 1557.84px;
    height: 116px;
    left: 258px;
    top: 136px;
}


/* Foreground */
#foreground {
    /* Rectangle 1 */
    width: 100%;
    left: 50px;
    top: 50px;


}

/* Black Rectangle */
#title {
    /* Rectangle 2 */
    padding:10px;
    width: 100%;
    background: #000000;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Rectangle Behind Text */
#box {
    height: 500px;
    width: 50%;
    left: 23%;
    background: #000000;
    display: flex;
    flex-direction: column;
    padding:30px;
}

/* Virtual Wardrobe */
h1 {
    color: #F5F5F5;
    font-family: "Irish Grover", serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

/* virtualw 1 */
#logo {
    position: absolute;
    left: 0px;
    top: -30px;
    height: inherit;
    width: 200px;
}
.title h1 {
    font-size:40px;
}

.login_button {
    /* Login Rectangle */
    position: absolute;
    width: 180px;
    height: 100px;
    top: 115px;
    left: 1%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;

    cursor: pointer;

    background: #DB3EDE;;
}
label{
    font-size: 40px;
    color:white;
    margin-top:20px;
}
.login-box input {
    margin-top:10px;
    height: 30px;
}
.login_button:hover {
    opacity: 0.8;
}
.login-page-contents{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.info_button {
    /* Rectangle 4 */
    position: absolute;
    width: 180px;
    height: 100px;
    top: 115px;
    left: 20%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;

    cursor: pointer;

    background: #F58AF8;
}
.info_button:hover {
    opacity: 0.8;
}

.upload_button {
    /* Rectangle 5 */
    position: absolute;
    width: 180px;
    height: 100px;
    top: 115px;
    left: 38%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;

    cursor: pointer;
    background: #CE94CF;
}
.upload_button:hover {
    opacity: 0.8;
}

.view_button {
    /* Rectangle 6 */
    position: absolute;
    width: 180px;
    height: 100px;
    top: 115px;
    left: 55%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;

    cursor: pointer;
    background: #FCAD38;
}
.view_button:hover {
    opacity: 0.8;
}

.aq_button {
    /* Rectangle 6 */
    position: absolute;
    width: 280px;
    height: 100px;
    top: 115px;
    left: 75%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;

    cursor: pointer;
    background: #F4CC90;
}
.aq_button:hover {
    opacity: 0.8;
}

.sign_now_button {
    position: absolute;
    width: 399px;
    height: 105px;
    top: 480px;
    left: 38%;
    z-index: 2;

    font-family: 'Inconsolata', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    text-align: center;
    margin: 4px 2px;
    color: #ffffff;
    text-shadow: 0 0 2px #000000;
    background: #C0091E;
}
.sign_now_button:hover {
    opacity: 0.8;
}

