/* Webpage */
webpage {
    position: absolute;
    width: 1908px;
    height: 1056px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Welcome! */
welcome_font {
    position: absolute;
    width: 649px;
    height: 111px;

    font-family: 'Inconsolata', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 157px;
    text-align: center;

    color: #F4AE20;
    border: 3px solid #000000;
}

/* Foreground */
foreground {
    /* Rectangle 1 */
    height: 1056px;
    width: 1908px;
    left: -955px;
    top: -617px;
    border-radius: 0;
    position: absolute;
    background: #92BBE1;
}

/* Black Rectangle */
title {
    /* Rectangle 2 */
    position: absolute;
    width: 1908px;
    height: 113px;
    background: #000000;
}

/* Virtual Wardrobe */
title_font {
    position: absolute;
    width: 807px;
    height: 80px;

    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    text-align: center;

    color: #F5F5F5;
}

logo {
    /* virtualw 1 */
    position: absolute;
    width: 281px;
    height: 158px;
    background: url(images/virtualw.png);
}

login {
    /* Login Rectangle */
    position: absolute;
    width: 312px;
    height: 113px;
    background: #DB3EDE;
}

info {
    /* Rectangle 4 */
    position: absolute;
    width: 312px;
    height: 113px;
    background: #F58AF8;
}

upload_closet {
    /* Rectangle 5 */
    position: absolute;
    width: 312px;
    height: 113px;
    background: #CE94CF;
}

view_closet {
    /* Rectangle 6 */
    position: absolute;
    width: 312px;
    height: 113px;
    background: #FCAD38;
}

aesthetics {
    /* Rectangle 6 */
    position: absolute;
    width: 312px;
    height: 113px;
    background: #F4CC90;
}

tab_font {
    position: absolute;
    width: 264px;
    height: 56px;

    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    text-align: center;

    color: #000000;
}

