/* Rectangle 1 */
body {
   background: #F4AE20;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 600px;
}
#page {
    position: absolute;
    width: 1908px;
    height: 1135px;
    background: #F3CC90;
}

#webpage{
  position: absolute;
    width: 100%;
    height: 703px;
    top: 230px;
    left: 0;
    z-index: 2;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://img.freepik.com/premium-vector/retro-wavy-burst-blue-winter-vintage-background_92086-102.jpg?w=2000);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

login_header_position{
  position: relative;
  width: 391px;
  height: 117px;
}

h2 {
    X: -289px;
    Y: -409px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 103px;
    text-align: center;

    color: white;

    top:70px;
    left: inherit;
}

/* Virtual Wardrobe */
login_header_box{
  box-sizing: border-box;
  position: absolute;
  width: 307px;
  height: 100px;
  left: 813px;
  top: 851px;
  background: #C0091E;
  border: 1px solid #000000;
}

#vw_font {
    position: absolute;
    width: 807px;
    height: 80px;

    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    text-align: center;

    color: #F5F5F5;
}

/* virtualw 1 */
#logo {
  position: absolute;
  top:-23px;
  left: -4.5%;
  z-index: 3;
  width: 1280px;
  height: 720px;
  object-fit: cover;
}

.login_button_text{
  position: absolute;
  width: 102px;
  height: 48px;
  left: 913px;
  top: 877px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.login_button:hover {
  opacity: 0.8;
}

sign_up_here_text{
  position: absolute;
  width: 800px;
  height: 84px;
  left: 554px;
  top: 235px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

sign_up_here_format{
  position: absolute;
  width: 800px;
  height: 84px;
  left: 554px;
  top: 235px;
}

/* Login title heading */
#login_title_font {
  position: absolute;
  width: 615px;
  height: 127px;
  top: 140px;
  left: 34%;

  font-family: 'Irish Grover', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 103px;
  text-align: center;

  color: #000000;
}

#login_sub_heading{
  position: absolute;
  width: 800px;
  height: 84px;
  left: 554px;
  top: 235px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

/* Username */
#username_box{
  box-sizing: border-box;
  position: absolute;
  width: 460px;
  height: 110px;
  left: 717px;
  top: 421px;

  background: #F5F5F5;
  border: 1px solid #000000;

}

#username_font{
  position: absolute;
  width: 216px;
  height: 48px;
  left: 726px;
  top: 456px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

/*Password*/
#password_font{
  position: absolute;
  width: 1080px;
  height: 400px;
  left: 726px;
  top: 666px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

#password_box{
  box-sizing: border-box;

  position: absolute;
  width: 900px;
  height: 400px;
  left: 717px;
  top: 630px;

  background: #F5F5F5;
  border: 1px solid #000000;
}







