/* Rectangle 1 */
body {
    background: #F4AE20;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 600px;
}
#page {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 1056px;
    left: 50px;
    top: 50px;
    background: #CE94CF;
}

/* Rectangle 2 */
#navigation {
    position: absolute;
    z-index: 2;
    height: 113px;
    width: 100%;
    background: #000000;
}

/* Virtual Wardrobe Header */
h1{
    position: absolute;
    top: -60px;
    left: 31%;
    z-index: 3;
    color: #F5F5F5;
    font-family: "Irish Grover", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    text-align: center;

}

/* Virtual Wardrobe */
#vw_font {
    position: absolute;
    width: 807px;
    height: 80px;

    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 121px;
    text-align: center;

    color: #F5F5F5;
}

/* virtualw 1 */
#logo {
    position: absolute;
    top:-23px;
    left: -4.5%;
    z-index: 3;
    width: 1280px;
    height: 720px;
    object-fit: cover;
}

/* profile-icon */
.profile_icon {
    position: absolute;
    width: 208px;
    height: 143px;

    background: url(images/profile_icon.png);
}

/* View Closet */
#page_title_font {
    position: absolute;
    width: 615px;
    height: 127px;
    top: 140px;
    left: 34%;

    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 103px;
    text-align: center;

    color: #000000;
}

/* purple wavy background */

#page_background {
    position: absolute;
    z-index: 1;
    width: 1834px;
    height: 772px;
    top: 23%;
    left: 100px;

    background: url(images/purple_wavy.jpeg);
}

/* Closet Search */

.closet_div {
    position: absolute;
    width: 1721px;
    height: 778px;
}

/* image 1 */

.pause_icon {
        position: absolute;
        width: 68px;
        height: 57px;

        background: url(images/pause_icon.png);
}



/* image 2 */

.pause_icon2 {
    position: absolute;
    width: 68px;
    height: 57px;

    background: url(images/pause_icon.png);
}

/* Rectangle 3 */

#dress_me_square {
    position: absolute;
    width: 553px;
    height: 545px;
    z-index: 2;
    top: 275px;
    left: 66%;
    background: #ACC7AF;
}

/* Rectangle 4 */

#browse_square {
    position: absolute;
    width: 553px;
    height: 545px;
    top: 275px;
    left: 7%;
    z-index: 2;

    background: #ACC7AF;
}
.browse_button {
    position: absolute;
    width: 553px;
    height: 156px;
    top: 820px;
    left: 7%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;

    cursor: pointer;

    background: #540756;
}
.browse_button:hover {
    opacity: 0.8;
}

.dress_button {
    position: absolute;
    width: 553px;
    height: 156px;
    top: 820px;
    left: 66%;
    z-index: 2;

    display: inline-block;
    font-family: Irish Grover, serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;

    cursor: pointer;

    background: #540756;
}
.dress_button:hover {
    opacity: 0.8;
}

/* basic woman */

#user_pic {
    position: absolute;
    width: 353px;
    height: 545px;
    left: 50%;
    z-index: 2;
    background: url(images/basic-girl.png);
}

/* Categories Season Occasion Aesthetic Random */

.categories {
    position: absolute;
    width: 553px;
    height: 388px;

    font-family: 'Irish Grover', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;

    color: #000000;
}

