<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aesthetic Quiz</title>
    <!-- Query for View Closet stylesheet -->
    <link rel="stylesheet" href="../static/home_page.css">
    <link rel="stylesheet" href="aesthetics.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
    <!-- Media query for small browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="../static/small.css" />
    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../static/medium.css" />
    <!-- Media query for large browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../static/large.css" />
</head>


<body>
    <div class="container">
        <!-- foreground the top of every page aka the navigation bar -->
        <div id="foreground">
        <div id="title">
            <div id="logo">
                <img src="../static/images/virtualw.png" alt="logo" width=281 height="158">
            </div>
        <div class="virtualwardrobeTrademark">
            <h1>Virtual Wardrobe</h1>
            </div>

        </div>

        <nav class="nav-bar">
            <div class=" nav-option">
                <ul>
                    <a href="login_page.html">
                        Login
                    </a>
                </ul>
            </div>

            <div class=" nav-option">
                <ul>
                <a href="info-page.html">
                    Info
                </a>
                </ul>
            </div>

            <div class=" nav-option">
                <ul>
            <a href = "UploadCloset.html">
               Upload
            </a>
                    </ul>
            </div>
            <div class=" nav-option">
                <ul>
                <a href="view_closet.html">
                    View
                </a>
                    </ul>
            </div>

            <div class="nav-option">
                <ul>
                <a href="aesthetics.html">
                Aesthetics Quiz
                </a>

                    </ul>
            </div>
        </nav>

        </div>
        <!-- the page contents, changes depending on which information is written. kp the sam enabving comnventions, [page-name]-container-->
        <div class="aesthetics-quiz-container">
            <div class="aesthetics-quiz-content">
                <h1>Aesthetics Quiz</h1>
                <p>Still trying to figure out your personal style? </p>
                <p>Take the style aesthetics quiz to see what aesthetic is more YOU</p>
                <a href= "aesthetics_questions.html">
                    <button>Take the Quiz</button>
                </a>

            </div>
        </div>
    </div>



</body>

</html>