<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Query for View Closet stylesheet -->
    <link rel="stylesheet" href="../static/home_page.css">
    <link rel="stylesheet" href="aesthetics.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
    <!-- Media query for small browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="../static/small.css" />
    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../static/medium.css" />
    <!-- Media query for large browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../static/large.css" />
</head>
<body>
    <div class="container">
        <div id="foreground">
            <div id="title">
                <h1>Virtual Wardrobe</h1>
                <div id="logo">
                    <img src="../static/images/virtualw.png" alt="logo" width=281 height="158">
                </div>
            </div>
        <nav class="nav-bar">
            <div class=" nav-option">
                <ul>
                    <a href="login_page.html">
                        Login
                    </a>
                </ul>
            </div>

            <div class=" nav-option">
                <ul>
                <a href="info-page.html">
                    Info
                </a>
                </ul>
            </div>

            <div class=" nav-option">
                <ul>
            <a href = "UploadCloset.html">
               Upload
            </a>
                    </ul>
            </div>
            <div class=" nav-option">
                <ul>
                <a href="view_closet.html">
                    View
                </a>
                    </ul>
            </div>

            <div class="nav-option">
                <ul>
                <a href="aesthetics.html">
                Aesthetics Quiz
                </a>

                    </ul>
            </div>
        </nav>

            <div id="webpage">
                <img src="https://i.gifer.com/SqL8.gif" alt="clueless gif" width=281 height="158">
                <div id="welcome_font">Welcome!</div>
                <div id="welcome_blurb">The Virtual Wardrobe brings your fashion dreams to life. With this “Clueless”
                    inspired website, you will be able to organize, customize, and plan outfits!</div>
                <div id="box"></div>
                <div class="sign_now_button">Sign Up Now!</div>

            </div>
        </div>
    </div>
</body>
</html>