<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <html><head><title>Python: clothing_item_type</title>
    <meta charset="UTF-8">
    <title>Upload Closet</title>
    <!-- Query for View Closet stylesheet -->
    <link rel="stylesheet" href="../static/Upload_Closet.css">
    <!-- Query for Irish Grover Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
    <!-- Media query for small browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="../static/small.css" />
    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../static/medium.css" />
    <!-- Media query for large browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../static/large.css" />

</head>

<div class="container">
    <div id="page">
        <div id="navigation">
            <h1>Virtual Wardrobe</h1>
            <div id="logo">
                <img src="../static/images/virtualw.png" alt="logo" width=281 height="158">
            </div>
        </div>
        <nav class="nav-bar">
            <div class=" nav-option">
                <ul>
                    <a href="login_page.html">
                        Login
                    </a>
                </ul>
            </div>

            <div class=" nav-option">
                <ul>
                <a href="info-page.html">
                    Info
                </a>
                </ul>
            </div>

            <div class=" nav-option">
                <ul>
            <a href = "UploadCloset.html">
               Upload
            </a>
                    </ul>
            </div>
            <div class=" nav-option">
                <ul>
                <a href="view_closet.html">
                    View
                </a>
                    </ul>
            </div>

            <div class="nav-option">
                <ul>
                <a href="aesthetics.html">
                Aesthetics Quiz
                </a>

                    </ul>
            </div>
        </nav>
        <div id="page_title_font">Upload Closet</div>
        <div id="page_background"></div>
        </div>
    </div>

<div id="demo">
  <div class="wrapper">
    <div class="content">
      <select name="clothing_item_type" id="clothing_item_type">
        <option value="">Select a clothing item type</option>
        <option value="tops">Tops</option>
        <option value="bottoms">Bottoms</option>
        <option value="dresses">Dresses</option>
        <option value="accessories">Accessories</option>
        <option value="jackets">Jackets</option>
      </select>
    </div>
    <div class="parent">Clothing Item Type</div>
  </div>
  <div class="wrapper">
    <div class="content">
      <select name="season" id="season">
        <option value="">Select a season</option>
        <option value="spring">Spring</option>
        <option value="winter">Winter</option>
        <option value="summer">Summer</option>
        <option value="fall">Fall</option>
      </select>
    </div>
    <div class="parent">Season</div>
  </div>
  <div class="wrapper">
    <div class="content">
      <select name="occasion" id="occasion">
        <option value="">Select an occasion</option>
        <option value="casual">Casual</option>
        <option value="formal">Formal</option>
        <option value="semi-formal">Semi-formal</option>
        <option value="business">Business</option>
        <option value="party">Party</option>
      </select>
    </div>
    <div class="parent">Occasion</div>
  </div>

    <div class="wrapper">
        <div class="content">
        <select name="color" id="color">
            <option value="">Select a color</option>
            <option value="violet">Violet</option>
            <option value="indigo">Indigo</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
            <option value="red">Red</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="multi">Multi</option>
            <option value="turquise">Turquise</option>
        </select>
        </div>
    <div class="parent">Color</div>
    </div>
    <div class="wrapper">
    <div class="content">
      <select name="aesthetic" id="aesthetic">
        <option value="">Select an aesthetic</option>
        <option value="grunge">Grunge</option>
        <option value="academia">Academia</option>
        <option value="street-wear">Street wear</option>
        <option value="softgirl">Softgirl</option>
      </select>
    </div>
    <div class="parent">Aesthetic</div>
  </div>
</div>

<button class="button">Upload!</button>

