<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Closet</title>
    <!-- Query for View Closet stylesheet -->
    <link rel="stylesheet" href="../static/info-page.css">
    <!-- Query for Irish Grover Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
    <!-- Media query for small browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="../static/small.css" />
    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../static/medium.css" />
    <!-- Media query for large browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../static/large.css" />
</head>
<body>
    <div class="container">
        <div id="page">
            <div id="top_box">
                <h1>Virtual Wardrobe</h1>
                <div id="logo">
                    <img src="../static/images/virtualw.png" alt="logo" width=281 height="158">
                </div>
            </div>
            <h2>Information</h2>
             <div id="profile_icon">
                 <img src="../static/images/profile_icon.png" alt="logo" width="100">
             </div>
            <div id="page_background">
                <div id="video_demo_title">Video Demo</div>
                <div id="video_demo_box"></div>
                <div id="instruction_title">Instructions</div>
                <div id="instruction_box"> 1) Log in/ Create your account.<br>2) Upload your clothing items to the page, categorizing based on season/aesthetic.
                <br>3) Find out your aesthetic through the quiz! <br>4) View your closet and get outfit combos!
                </div>
                <div id="contact_us_title">Contact Us</div>
                <div id="first_name_title">First Name</div>
                <input type="text" id="first_name_box" class="user_txt">
                <div id="last_name_title">Last Name</div>
                <input type="text" id="last_name_box" class="user_txt">
                <div id="email_title">Email</div>
                <input type="text" id="email_box" class="user_txt">
                <div id="help_question_title">What can we help you with?</div>
                <div id="submit_button">Submit</div>
                <input type="text" id="help_question_box" class="user_txt">
                <div id="team_bband_title">Team BBAND</div>
                <div id="bethany_title">Bethany Saunders</div>
                <div id="bismah_title">Bismah Shahid</div>
                <div id="aadiba_title">Aadiba Haque</div>
                <div id="nakeya_title">Nakeya Adams</div>
                <div id="dorothy_title">Dorothy Akpovwa</div>
            </div>
            <div id="email_icon"></div>
            <div id="vw_email_footer">vw@bband.org</div>
            <div id="phone_icon"></div>
            <div id="vw_number_footer">123-456-7890</div>
            <div id="social_icon_footer"></div>
            <div id="vw_social">@virtualwardrobe</div>
            <div id="faq_icon_footer"></div>
            <div id="faq">FAQ</div>
        </div>
    </div>
</body>
</html>
