<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Query for View Closet stylesheet -->
    <link rel="stylesheet" href="../static/login_page.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
    <!-- Media query for small browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="../static/small.css" />
    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="../static/medium.css" />
    <!-- Media query for large browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="../static/large.css" />
</head>

<body>
  <div class="container">
    <div id="foreground">
      <div id="title">
        <h1>Virtual Wardrobe</h1>
        <div id="logo">
          <img src = "../static/images/virtualw.png" alt="logo" width=281 height="158">
        </div>
          <h2>Login</h2>

        <div id="webpage">
            <h3 id="sign_up_here_text">New to virtual wardrobe? Sign up here!</h3>
            <div id="box" class="login-box">
                <label for="username_font"><b>Username</b></label>
                <input type="text" placeholder="Enter username" name="username" required>
                <label for="password_font"><b>Password</b></label>
                <input type="text" placeholder="Enter password" name="password" required>
                <button class="login_button">Login</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
</body>
</body>
</html>
