<!DOCTYPE html>
<html lang="en">
<body>


<head>
    <html><head><title>Python: clothing_item_type</title>
    <meta charset="UTF-8">
    <title>Upload Closet</title>
    <!-- Query for View Closet stylesheet -->
    <link rel="stylesheet" href="static/Upload_Closet.css">
    <!-- Query for Irish Grover Font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Irish+Grover" />
    <!-- Media query for small browser width -->
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="static/small.css" />
    <!-- Media query for medium browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 960px)" href="static/medium.css" />
    <!-- Media query for large browser width -->
    <link rel="stylesheet" media="only screen and (min-width: 961px)" href="static/large.css" />

</head>


<div class="container">
    <div id="page">
        <div id="navigation">
            <h1>Virtual Wardrobe</h1>
            <div id="logo">
                <img src="static/images/virtualw.png" alt="logo" width=281 height="158">
            </div>
        </div>
        <div id="page_title_font">Upload Closet</div>
        <div id="page_background"></div>
        <button class = "aestheticButton">Aesthetic</button>
        <button class = "uploadButton upload_button">Upload!</button>
        <div class="dropdown">
            <button class = "itemTypeButton" >Clothing Item Type</button>
            <div class="dropdown-content">
                     <a href="#">Tops</a>
                     <a href="#">Bottoms</a>
                     <a href="#">Dresses</a>
                     <a href="#">Accessories</a>
                     <a href="#">Jackets</a>
            </div>
        </div>
        <div class="dropdownb">
            <button class = "SeasonButton">Season</button>
            <div class="'dropdown-contentb">
                <b href="#">Spring</b>
                <b href="#">Winter</b>
                <b href="#">Summer</b>
                <b href="#">Fall</b>
            </div>
        </div>
        <div class="dropdownc">
            <button class = "occasionButton">Occasion</button>
            <div class="'dropdown-contentc">
                <c href="#">Casual</c>
                <c href="#">Semi-formal</c>
                <c href="#">Formal</c>
                <c href="#">Business</c>
                <c href="#">Party</c>
            </div>
        </div>
        <div class="dropdownd">
            <button class = "aestheticButton">Aesthetic</button>
            <div class="'dropdown-contentd">
                <d href="#">Grunge</d>
                <d href="#">Acedemia</d>
                <d href="#">Streetwear</d>
                <d href="#">Cottagecore</d>
                <d href="#">Indie</d>
                <d href="#">Soft girl</d>
            </div>
        </div>
    </div>
</div>

</body>
</html>

